header {
  width: 100%;
  background: white;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  padding: 10px 0;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  margin-left: 40px;
  width: 200px;
  height: 50px;
}
.nav-item {
  margin: 0 5px;
  letter-spacing: 1px;
}
.navbar-brand {
  font-size: 2rem;
  color: #dc4f72;
  font-weight: 800;
}
.navbar-brand:hover {
  color: #dc4f72;
}
.active .nav-link {
  color: #dc4f72;
}
.form-inline .btn {
  color: #dc4f72;
  font-weight: 700;
  border: 1px solid #dc4f72;
}
.form-inline .btn:hover {
  background-color: #dc4f72;
  color: white;
  font-weight: 700;
}
.dropdown-menu .dropdown-item {
  margin: 10px 0;
}
.nav-link {
  position: relative;
}
.nav-item .nav-link::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  background-color: #dc4f72;
  height: 2px;
  bottom: 0;
  transition: 0.3s;
}
.nav-item .nav-link:hover::before {
  width: 30px;
}
.dropdown-menu .dropdown-item::after {
  content: "";
  display: block;
  width: 0px;
  background-color: #dc4f72;
  height: 2px;
  transition: 0.5s;
}
.dropdown-menu .dropdown-item:hover::after {
  width: 40px;
}

/* carousel */
.carousel {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)),
    url("https://demo.w3layouts.com/demos_new/template_demo/03-03-2021/masterwork-liberty-demo_Free/423112365/web/assets/images/banner.jpg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* display: grid; */
  align-items: center;
  height: 70vh;
  padding-top: 5rem;
}
.row-carousel h1 {
  font-size: 3rem;
  margin-top: 90px;
}
.row-carousel p {
  margin: 30px 0;
  font-size: 1.2rem;
}
.button-carousel {
  border: 2px solid #dc4f72;
  color: #dc4f72;
  transition: 0.5s;
  font-weight: 700;
  /* width: 100px; */
  border-radius: 10px;
}
.button-carousel:hover {
  color: white;
  background: #dc4f72;
}
.row-carousel img {
  transform: rotate(180deg);
}

.choose {
  margin-top: 80px;
}
.choose-text {
  text-align: center;
}
.choose-text h1 {
  font-weight: 700;
}
.choose-text h3 {
  font-size: 1.3rem;
  color: #dc4f72;
}
.business {
  margin-top: 60px;
}
.card-img {
  text-align: center;
  background: #f7f9fc;
  padding: 40px 0;
  border: 1px solid #f7f9fc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all ease-in 0.3s;
}
.card-img-top {
  width: 80px;
}
.card-img:hover {
  transform: translateY(-10px);
  background: white;
}
.counting {
  margin-top: 80px;
  background: #f7f9fc;
  padding: 80px 0;
  width: 100%;
}
.card-couting h4 {
  font-size: 1rem;
  color: #dc4f72;
}
.card-couting h1 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.card-couting p {
  margin-bottom: 30px;
}
.card-couting .btn-primary {
  background: #dc4f72;
  border: none;
  width: 150px;
  padding: 15px 0;
  font-weight: 600;
}

.card-couting .btn-primary:hover {
  background: #d62f58;
}
.card-couting {
  border: none;
  background: #f7f9fc;
}
.counting-img .img-counting {
  width: 100%;
  border-radius: 16px;
}
.counting-img {
  background: #f7f9fc;
  border: none;
  transition: 0.3s;
}
.counting-img:hover {
  transform: translateY(-10px);
}
.container-col {
  margin-bottom: 100px;
}
.number span {
  font-size: 3.5rem;
  font-weight: 700;
  color: #dc4f72;
}
.number p {
  color: #5a5a5a;
}
.number {
  box-shadow: 1px 5px 7.5px rgba(196, 196, 196, 0.2);
  border: 1px solid #eee;
  transition: 0.3s;
}
.number:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
